*{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100% !important;
    padding: 0 !important
}

.banner {
    width: 100vw;
    height: 89vh;
}

.backgroundimg {
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50%;
}

h1 {
    font-size: 50px;
    color: #F9B70E !important
}

.btns {
    height: 40%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 100px;
}

.forums, .goals {
    height: 100px;
    width: 200px;
    text-decoration: none;
    background-color: #F9B70E;
    color:white;
}

.spacerContainer {
    gap: 5px;
    display: flex;
}

.spacer {
    height: 2px;
    background-color: #F9B70E;
}

.spacer:first-of-type {
    background-color: #0c8fcd;
}

.spacer:last-of-type {
    background-color: #0c8fcd;
}

@media screen and (max-width: 1000px) {
    .backgroundimg {
        gap: 50px;
    }
    .btns {
        gap: 20px;
        flex-direction: column;
    }

    .mål, .forum {
        height: 90px;
        width: 150px;
    }
  }
