*{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100% !important;
    padding: 0 !important
}

.banner {
    width: 100vw;
    height: 89vh;
    background-color: black;
}

.backgroundimg {
    
}

h1 {
    font-size: 50px;
    color: #F9B70E;
}