
.banner-image {

    background-size: cover;
    background-size: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.image-1 {
background-image: cover;
}
.container-byer {
    --bs-gutter-x: 0rem !important;
    max-width: 100% !important;
    background-color: orange;
}

.banner {
    background-color: orange;
    color: #ffffff;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
}

#banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 100px;
    font-family: Georgia, serif;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: helvetica, sans-serif;
    background-color: orange;
    color:white;
}
.description2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: helvetica, sans-serif;
    background-color: orange;
    color: white;
}

.btn{
    height:5vh;
    width: 100vh;
    display: flex;
    justify-content:center ;
    align-content: center;
    background-color: #7fff94;
}

.del-mål{
    background-color: orange;
}

.mål-tekst{
    color: red;
    font-family: Helvetica, serif,bold;
    font-size: 25px;
}
.mål-hvid
{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}