*{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100% !important;
    padding: 0 !important
}

.banner {
    width: 100vw;
    height: 89vh;
}

.backgroundimg {
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 300px;
}

.titel1 {
    font-size: 80px !important;
    color: #F9B70E !important

}

.h2confiq {
    font-size: 30px !important;
    color: #F9B70E !important;
    margin-left: 30px;
    margin-right: 30px;
}

.pconfiq {
    font-size: 15px !important;
    color: black !important;
    margin: 30px;
}

.btns {
    height: 400px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 200px;
}

.goal, .forums {
    height: 150px;
    width: 400px;
    text-decoration: none;
    background-color: #F9B70E;
    color:white;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info1 {
    width: auto;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headertext1, .infotext1, .headertext2, .infotext2, .headertext3, .infotext3, .textbox2, .textbox3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info2 {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.img2 {
    height: 600px;
    background-image: url("../img/plant.png");
    background-size: cover;
    width: 600px;
    border-radius: 300px;
}

.textbox2 {
    width: 50%;
    height: 500px;
}

.info3 {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.img3 {
    height: 600px;
    background-image: url("../img/plant.png");
    background-size: cover;
    width: 600px;
    border-radius: 300px;
}

.textbox3 {
    width: 50%;
    height: 500px;
}



.spacerContainer {
    gap: 3px;
    display: flex;
    flex-wrap: wrap;
    padding:0;
    padding-top: 50px;
    padding-bottom: 50px;
}


.spacerLine {
    display: flex;
    justify-content: center;
}

.spacerLine:first-of-type {
    justify-content: flex-start;
}

.spacerLine:last-of-type {
    justify-content: flex-end;
}

.spacer {
    height: 2px;
    background-color: #F9B70E;
    display: flex;
    flex-direction: column;
}

.spacerLine:first-of-type .spacer, .spacerLine:last-of-type .spacer {
    background-color: #0c8fcd;
}

.goaltitle {
    height: 100px;
    width: 350px;
    background-color: #83CE29;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 25px;
    border: none;
}    

.leftcardone, .leftcardtwo, .leftcardthree, .rightcardone, .rightcardtwo {
    height: 400px;
    width: 300px;
    background-color: #F9B70E;
    border-radius: 25px;
    border: none;
    margin: 40px 0;
}

.cardcontainer {
    display: flex;  
    justify-content: center;
    float: none !important;
    margin: 0 auto;
} 

.cardcolumnone, .cardcolumnthree {
    flex-direction: column;
    height: 1400px;
    display: flex;
    align-items: center;
}

.cardcolumnthree {
    justify-content: center;
}

.cardcolumntwo {
    width: 300px;
    display: flex;
}

.cardtext {
    width: 300px;
    height: 285px;
    text-align: left;
    padding: 15px 30px;
    color: white;
}

.greenCenterLine {
    width: 4px;
    background-color: #83CE29;
}

.lineColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 480px;
    width: 148px
}

.greenLine {
    width: 100%;
    height: 4px;
    background-color: #83CE29;
}

.cardImg {
    width: 100px;
    height: 100px;
    margin: 15px auto 0;
}

@media screen and (max-width: 1000px) {
    .backgroundimg {
        height: auto;
        gap: 0;
    }

    .img2, .img3 {
        height: 300px;
        width: 300px;
    }

    .btns {
        gap: 20px;
        flex-direction: column;
        width: auto;
    }

    .goal, .forums {
        height: 150px;
        width: 200px;
    }

    .info2, .info3 {
        gap: 10px;;
    }

    .info1, .info2, .info3 {
        height: auto;
        width: 100vw;
    }

    .textbox1, .textbox2, .textbox3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100vw;
    }

  }

  

  @media screen and (max-width: 1200px) {
    .info2, .info3 {
        display: flex;
        flex-direction: column;
        height: auto;
    }

  }

  @media screen and (max-width: 1100px) {
    .btns {
        flex-direction: column;
        gap: 20px;
    }

    .titel1 {
        font-size: 40px;
    }


  }