@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 500 !important;
}

h1 {
  font-size: 80px !important;
}

h2 {
  font-size: 64px !important;
}

h3{
  font-size: 48px !important;
}

h4{
  font-size: 32px !important;
}

p{
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
}

body {
  background-color: green;
}

.btn-cta {
  background-color: #4C9F38;
  color: #EAEAEA;
  padding: 15px 30px;
}

.btn-cta:hover{
  background-color: #204516;
  color: #EAEAEA;
}

.main-card-target {
  min-height: 80vh;
}

/* .main-icon-img {
  width: 90%;
} */

/* .main-icon-img img {
  width: 100%;
} */

.main-icon-img{
  height: 100%;
}

.icon-picture{
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: 0% 0%;
}

.main-info-grid {
  /* width: 100%; */
  /* padding-left: 20px; */
  min-height: 100%;
  background-color: #cdeac5;
}

.main-info-grid-title h2{
  color: #4C9F38;
  font-weight: bold;
  padding-top: 20px;
}

.box-container-for-icons {
  display: flex;
}

.main-info-grid-icon-box {

  display: flex;
  align-items: center;
  padding-top: 10px;

}

.main-info-grid-icon-box img{
  width: 56px;
  height: auto;
  padding: 15px;
  background-color: #4C9F38;
  border-radius: 50%;
}

.main-info-grid-icon-box p {
  margin: 0;
  padding-left: 10px;
  width: 100%;
}

.action-section {
  min-height: 100vh;
  width: 100vw;
}

.action-section h2, 
.action-section h3{
  color: #4C9F38;
}

.action-title-desc-container{
  text-align: center;
}

.action-item-image{
  width: 100%;
  height: auto;
}

.hero-title {
  /* position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-weight: bold; */
  color: #EAEAEA;
}

.square-logo {
  width: 133px;
  height: 110px;
}

.hero-section {
  position: relative;
  /* left: 0px;
  right: 0px;
  top: 100px; */
}

.hero-image{
  filter: brightness(0.6);
  width:100vw;
  height: 80vh;
  object-fit: cover;
}

.hero-image-text-container{
  position: relative;
}

.hero-content {
  position: absolute;
  /* top: 60%;
  left: 50%;
   */
   /* transform: translate(-50%, -50%); */

}

.hero-subtitle {
  color: #EAEAEA;
  /* margin-top: 150px; */
}

.data-number {
  color: #4C9F38;
}

.data-section{
  position: relative;
}

/* img {
  display: block;
} */

.hero-section {
  position: relative; 
  display: inline-block;
}


@media only screen and (min-width: 1200px) {

  /* .main-icon-img {
    width: 50%;
  } */

  .main-info-grid {
    /* width: 50%; */
    /* padding-left: 20px; */
    background-color: #cdeac5;
  }

  /* .main-card-target {
    flex-direction: initial;
  } */

  .item-group-2{
    margin-top: 200px;
    padding-left: 40px;
  }

  .item-group-3 {
    margin-top: -200px;
  }

  .item-group-4{
    padding-left: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 64px !important;
  }
  
  h2 {
    font-size: 48px !important;
  }
  
  h3{
    font-size: 32px !important;
  }
  
  h4{
    font-size: 24px !important;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 48px !important;
  }
  
  h2 {
    font-size: 32px !important;
  }
  
  h3{
    font-size: 24px !important;
  }
  
  h4{
    font-size: 18px !important;
  }
}

