* {
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: green;
}

.main-card-target {
  display: flex;
}

.main-icon-img {
  width: 50%;
}

.main-icon-img img {
  width: 100%;
}

.main-info-grid {
  width: 50%;
}

.action-section {
  min-height: 100vh;
  width: 100vw;
}
