.site{
    background-color: cyan;
    background: linear-gradient(#0A97D9, #0C558D);
}
#headline-section{
    background-color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 50px;
}
.headline-box{
    background-color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    object-fit: cover;
}
.headline-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-color h1{
    color: #0A97D9 !important;
}



#quote-section{
    height: 400px;
    margin-top: 50px;
    padding-top: 80px;
}
.quote-up{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-down{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-color h2{
    color: #B6DBF7 !important;
    text-align: center;
}





#targets-section{
    margin-top: 50px;
    padding-top: 80px;
}
.one, .two, .three, .four, .five{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.target-left, .things-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.target-left img, .target-right img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
}
.target-right, .things-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.target-box{
    background-color: white;
    color: rgb(30,113,103, 0.87);
    padding: 30px;
}
.boox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.targets_one{
    display: flex;
    justify-content: center;
    align-items: center;
}
.things-left img, .target-left img{
    height: 75px;
    width: 75px;
}
.things-left, .things-right{
color:white
}