.site{
    background-color: cyan;
    background: linear-gradient(#0A97D9, #0C558D);
}
#headline-section{
    background-color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 50px;
}
.headline-box{
    background-color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    object-fit: cover;
}
.headline-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-color h1{
    color: #0A97D9 !important;
}



#quote-section{
    height: 400px;
    margin-top: 50px;
    padding-top: 80px;
}
.quote-up{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-down{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-color h2{
    color: #B6DBF7 !important;
    text-align: center;
}
#informative-section img{
    max-width: 156%;
margin-left: -318px;
}

#targets-section{
    height: 4000px;
    margin-top: 50px;
    padding-top: 80px;
}
.target-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.target-one-left{
    display: flex;
    justify-content: center;
    align-items: center;
}