


.container {

    max-width: 100% !important;
}

.intro {
    background-color: #65B03D;
    color: #FFFFFF;
}

.description{
    color: #707070;
}

.second-description {
    background-color: #537B4C;
    color: #FFFFFF;
}

.image {
    background-image: cover;
}

h3 {
    color: #FFFFFF !important;
}
h2 {
    color: #707070 !important;
}
p{
    padding: 20px;
}



.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 60px;
}