


.container {
    --bs-gutter-x: 0rem !important;
    max-width: 100% !important;
}

.intro {
    background-color: #65B03D;
    color: #FFFFFF;
}

#intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    padding-left: 50px;
}

.description{
    color: #707070 !important;
}

.second-description {
    background-color: #537B4C;
    color: #FFFFFF;
}

.image {
    background-image: cover;
}

h3 {
    color: #FFFFFF !important;
}
h2 {
    color: #707070 !important;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
    padding-left: 30px;

}




.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 60px;
}



.button-34 {
  background: #FFFFFF;
  border-radius: 999px;
  box-shadow: #65B03D 0 10px 20px -10px;
  box-sizing: border-box;
  color: #65B03D;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 10px;
}

#groups {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.small-goals {
    color:#EEEEEE !important;
}

.subgoal {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
}
.subgoal.even {
    flex-direction: row-reverse;
    
}

#greenbox {
    background-color: #65B03D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% ;
    border-radius: 0px 50px 50px 00px;
}

#greenbox.even {
    border-radius: 50px 0px 0px 50px;
}