body{
    background-color: #062039;
}


#hero {
    background-image: url('img/hero.jpg');
    background-size: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

<<<<<<< HEAD
h3{
    align-content: center;
 }
 
#first-paragraph {
background-image: url('img/background-1.jpeg');
background-size: 100vh;
background-position: center;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

h3, h1, h2{
    text-align: center;
    line-height: 25px;
 }
 p{
        line-height: 35px;
     }



