

.container {
    background-color: #EEEEEE;
    
}

.intro {
    background-color: #65B03D;
    color: #FFFFFF;
}

.description{
    color: #707070;
}

.second-description {
    background-color: #537B4C;
    color: #FFFFFF;
}

.image {
    background-image: cover;
}

h3 {
    color: #FFFFFF !important;
}
h2 {
    color: #707070;
}



.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 70px;
}