*{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100% !important;
    padding: 0 !important
}

.top {
    height: 50vh;
    width: 100vw;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.knap {
    width: 100px;
    height: 50px;
    background-color: whitesmoke;
    border-color: darkmagenta;
    border-radius: 10px;
}

.mid {
    height: 50vh;
    width: 100vw;
}

.bund {
    height: 50vh;
    width: 100vw;
}