.stop-sult{
    background-color: rgba(217, 163, 0, 0.43); 
    
}

.col {
    
    float: left;
    width: 50%;
}

.overskrift {
    color: white; 
    font: small-caps;
}

.box {
    display: flex;
    
}

.tekst {
    
    text-align: justify;
    color: white;
}

.image {
   width: 420px;
    
}


