.stop-sult{
    background-color: rgba(217, 163, 0, 0.43); 
}

.col {
    float: left;
    width: 50%;
    padding: 25px;
    margin-top: 99px;
}
.col-1 {
    float: left;
    width: 50%;
    padding: 25px;
    margin-top: -65px;
}

.overskrift {
    color: white; 
    margin-left: 40%;
    text-transform: uppercase;
}

.box {
    display: flex;
}

.tekst {
    text-align: justify;
    color: white;
}

.image {
   width: 400px;
   margin: 50px;
}

.mal2 {
    color: white;
    font-size: 20px;
}

.buttons {
    color: white;
    background-color: #d9a1008c;
    box-shadow: 3px 1px 3px #b6ac91;
    border: none;
    border-radius: 25px;
    width: 130px;
    height: 46px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 80px 2px;
}


